APP_ID=<YOUR_APP_ID>
DISCORD_TOKEN=<YOUR_BOT_TOKEN>
PUBLIC_KEY=<YOUR_PUBLIC_KEY>
GROQ_API_KEY_1=<YOUR_GROQ_API_KEY_1>
GROQ_API_KEY_2=<YOUR_GROQ_API_KEY_2>
GROQ_API_KEY_3=<YOUR_GROQ_API_KEY_3>
GROQ_API_KEY_4=<YOUR_GROQ_API_KEY_4>
PORT=3000
MONGODB_URI=mongodb://localhost:27017/mcp-bot
LOG_LEVEL=INFO
ENABLE_CONSOLE_LOG=true
